<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/languages/tracery/TraceryLanguage"
			class = "uk.ac.kcl.inf.languages.tracery.traceryLanguage.TraceryLanguagePackage"
			genModel = "model/generated/TraceryLanguage.genmodel" />
	</extension>
</plugin>
